<a href="https://colab.research.google.com/github/Mmotaharinia/Fundamentals_of_data_analysis_for_new_members_of_our_team/blob/main/regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import re
#\n might be a special charecter in python
exp='nnuyf 68u7 -n \n hc '' '
print(exp)

nnuyf 68u7 -n
 hc

In [3]:
#Now lets make it a regular expression
print(r'nnuyf 68u7 -n \n hc '' ')

nnuyf 68u7 -n \n hc

In [11]:
pattern=re.compile(r'8u')
matches=pattern.finditer(exp)
for n in matches:
    print(n)
print(exp[7:9])

<re.Match object; span=(7, 9), match='8u'>
8u

In [163]:
df=pd.DataFrame([{'name':'  Mohammad Motaharinia'},{'name': 'Alex     Morales'},{'name':'Dave     ,.   miri'}])
print(df)

                     name
0    Mohammad Motaharinia
1        Alex     Morales
2      Dave     ,.   miri

In [164]:
df=pd.DataFrame([{'name':'  Mohammad Motaharinia'},{'name': 'Alex     Morales'},{'name':'Dave     ,.   miri'}])
df["name"]=df["name"].replace("\W"," ",regex=True)
print(df)

                     name
0    Mohammad Motaharinia
1        Alex     Morales
2      Dave          miri

In [166]:
df["name"]=df["name"].replace("\s+"," ",regex=True)
df

                    name
0   Mohammad Motaharinia
1           Alex Morales
2              Dave miri

In [147]:
#(^\s)one space in the beginning#(^\s+)az many space in the beginning#(\s$) space at the end # ('\s+') any length space#

df=pd.DataFrame([{'name':'  Mohammad Motaharinia  '},{'name': 'Vahid    Moayedi'},{'name':'Dave     ,.   miri'}])
df["name"]=df["name"].replace('^\s+','',regex=True)
df["name"]=df["name"].replace('\s+$','',regex=True)
df["name"]=df["name"].replace('\W+',' ',regex=True)
print(df)

                   name
0  Mohammad Motaharinia
1         Vahid Moayedi
2             Dave miri

In [157]:
pattern="(^\w+)( \w+)"
df["name"].str.extract(pattern)

          0             1
0  Mohammad   Motaharinia
1     Vahid       Moayedi
2      Dave          miri